*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.navbar{
    display: flex;
    background-color: rgba(0, 0, 0, 0.205);
    align-items: center;
    height: 60px;
    position: absolute;
}
.logo{
    width: 6.3%;
    margin-left: 26px;
    margin-right: 55px;
}
.logo:hover{
    cursor: pointer;
}
.links{
    display: flex;
    
    list-style: none;
}
.links li a{
    font-size: 10px;
    text-decoration: none;
    padding: 20px 20px;
    color: white;
    
}
.links li :hover{
    border-radius: 2%;
    background-color: white;
    color: black;
    margin: 0 10px;
    padding: 20px 10px;
}
.login{
    width: 10%;
    margin-left: 130%;
}

.plano-de-fundo{
    width: 100%;
}

main{
    margin-top: 6%;
}
.mini {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5%;
}

.coopers {
    display: flex;
    list-style: none;
}
.coopers li img{
    width: 100%;
}

.text{
    text-align: center;
    margin-bottom: 5%;
}
